.badLink {
  font-family: 'black_jackregular';
}
.badLink h1 {
  color: rgb(241, 113, 113);
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}
.badLink a {
  color: rgb(241, 113, 113);
  font-size: x-large;
  text-decoration: none;
}
.badLink p {
  margin: 0.5rem;
}
