@font-face {
  font-family: "BallparkWeiner";
  src: url("../data/polices/ballpark.eot");
  src: url("../data/polices/ballpark.eot") format("embedded-opentype"),
    url("../data/polices/ballpark.woff") format("woff"),
    url("../data/polices/ballpark.ttf") format("truetype"),
    url("../data/polices/ballpark.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "black_jackregular";
  src: url("../data/polices/blackjack-webfont.woff");
  src: url("../data/polices/blackjack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.icon{
  display: flex;
  align-items: center;
}
.icon a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  position: relative;
}
.icon img{
  border: black 3px solid;
  border-radius: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
}
.length{
  background: rgb(241, 113, 113);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right:-5px;
  bottom: -5px;
  height: 1.3rem;
  position: absolute;
  width: 1.3rem;
  z-index: 5;
}
.logo{
  color: rgb(241, 113, 113);
  font-family: 'BallparkWeiner';
  font-size: 2rem;
  margin-left: 2rem;
  text-decoration: none;
}
.logout{
  color: rgb(241, 113, 113);
  cursor: pointer;
  margin: 0px 10px 0px 10px;
}
#menuBurger{
  margin-right: 2rem;
}
.sign{
  display: flex;
  margin: 0px 10px 0px 10px;;
}
.sign a{
  color: rgb(241, 113, 113);
  margin: 0px 5px 0px 5px;
  text-decoration: none;
  width: auto;
}