@font-face {
  font-family: "BallparkWeiner";
  src: url("../data/polices/ballpark.eot");
  src: url("../data/polices/ballpark.eot") format("embedded-opentype"),
    url("../data/polices/ballpark.woff") format("woff"),
    url("../data/polices/ballpark.ttf") format("truetype"),
    url("../data/polices/ballpark.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "black_jackregular";
  src: url("../data/polices/blackjack-webfont.woff");
  src: url("../data/polices/blackjack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo{
  color: rgb(241, 113, 113);
  font-family: 'BallparkWeiner';
  font-size: 2rem;
  text-decoration: none;
}
.logo{
  margin-left: 2rem;
}
#menuBurger{
  margin-right: 2rem;
}
