.card{
  font-family: "black_jackregular";
  padding: 20px;
  width: 350px;
}
.card a{
  color: black;
  text-decoration: none;
}
.card img{
  height: 350px;
  width: 100%;
}
.cards{
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
}
